@charset "UTF-8";

body {
    background-color: white;
    width: 100%;
}

// ヘッダ
.page-header {
    height: 60px;
    max-width: 960px;
    padding: 0 4%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    >.logo {
        width: 120px;
    }
}

.list-header {
    display: flex;
    justify-content: space-around;
    list-style-type: none;

    >.item {
        padding-left: 24px;

        &>.-link {
            color: black;
            text-decoration: none;
        }
    }
}

.logo-link {
    >.-img {
        max-width: 100%;
    }
}

// メイン
// メインビジュアル
.main-visual {
    margin: 0 auto 120px;

    &>.-img {
        width: 100vw;
        height: 600px;
        object-fit: cover;
    }
}

// About
.about-section {
    max-width: 960px;
    padding: 0 4%;
    margin: 0 auto 120px;
    max-width: 50%;

    >.title {
        text-align: center;
        margin-bottom: 60px;

        &>.-border {
            border-bottom: 1px solid black;
        }
    }
}

.about-profile {
    display: flex;
}

.round-img {
    margin-right: 20px;

    >.img {
        border-radius: 100%;
        width: 100px;
        height: 100px;
    }
}


// Bicycle
.item-section {
    max-width: 960px;
    padding: 0 4%;
    margin: 0 auto 120px;

    >.title {
        text-align: center;
        margin-bottom: 60px;

        &>.-border {
            border-bottom: 1px solid black;
        }
    }

    >.contents {
        display: flex;
        justify-content: space-around;
    }
}

.item-card {
    margin: 0 20px;

    >.description {
        text-align: center;
    }

    >.img {
        max-width: 240px;
    }
}

// フッタ
.page-footer {
    height: 48px;
    max-width: 960px;
    padding: 0 4%;
    margin: 0 auto;
    text-align: center;
}